@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
    
</head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">FeatureBee</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="btn-primary" data-open="newFeature">+ New Feature</a>
                        </li>
                        <li>
                            <a href="../help/">Help</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.as24.local/OpenSource/FeatureBee" target="_blank">GitHub</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
